@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&family=Roboto:wght@400;700&display=swap');


$jtpurple: #6320EE;
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$theme-colors: (
  "primary": $jtpurple,
);

.nothighlight{
  display: none;
}

h1, h2 {
    font-family: $montserrat;
    font-size: 36px;
    font-weight: bold;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss'
